@page "/books"
@using LibraryAssignment.Data.Models
@using LibraryAssignment.BlazorWASM.Interfaces
@using System.Runtime.InteropServices.JavaScript
@inject IBookService BookService
@inject SpinnerService SpinnerService

<PageTitle>all books - library.</PageTitle>

<h1 class="text-6xl mb-10">all books.</h1>

@if (BooksList != null)
{
    <div class="flex flex-wrap justify-around">
        @foreach (var book in BooksList)
        {
            <BookCard 
                Id="@book.Id.ToString()"
                Title="@book.Title"
                Author="@book.Author"
                Description="@book.Description"
                IsAvailable="@book.IsAvailable"
                BookCoverFileName="@book.BookCoverFileName"
            />
        }
    </div>
}
else
{
    <h1 class="text-3xl">@_message</h1>
}

@code {
    public IEnumerable<Book>? BooksList { get; set; }
    private string _message = "Loading...";
    
    protected override async Task OnInitializedAsync()
    {
        SpinnerService.Show();
        var result = await BookService.GetBooksAsync();

        if (!result.isSuccess)
        {
            _message = result.message;
        }
        
        if (result.isSuccess && !result.books.Any())
        {
            _message = "No books found.";
        }
        
        BooksList = result.books;
        
        SpinnerService.Hide();
    }
}