@page "/books"
@using LibraryAssignment.BlazorWASM.Interfaces
@using LibraryAssignment.Data.Models
@inject IBookService BookService

<PageTitle>books - library.</PageTitle>

<h1 class="text-3xl text-customYellow">search results:</h1>

@if (BooksList != null)
{
    <div class="flex flex-wrap justify-around px-5 py-5">
        @foreach (var book in BooksList)
        {
            <BookCard 
                Id="@book.Id.ToString()"
                Title="@book.Title"
                Author="@book.Author"
                Description="@book.Description"
                IsAvailable="@book.IsAvailable" 
            />
        }
    </div>
}
else
{
    <h1 class="text-3xl">Nothing found</h1>
}

@code {
    public IEnumerable<Book>? BooksList { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        BooksList = await BookService.GetBooks();
    }
}