@page "/books"
@using LibraryAssignment.Data.Models
@using LibraryAssignment.BlazorWASM.Interfaces
@inject IBookService BookService
@inject SpinnerService SpinnerService

<PageTitle>all books - library.</PageTitle>

<h1 class="text-6xl mb-10">all books.</h1>

@if (BooksList != null)
{
    <div class="flex flex-wrap justify-around px-5 py-5">
        @foreach (var book in BooksList)
        {
            <BookCard 
                Id="@book.Id.ToString()"
                Title="@book.Title"
                Author="@book.Author"
                Description="@book.Description"
                IsAvailable="@book.IsAvailable" 
            />
        }
    </div>
}
else
{
    <h1 class="text-3xl">@_message</h1>
}

@code {
    public IEnumerable<Book>? BooksList { get; set; }
    private string _message = "Loading...";
    
    protected override async Task OnInitializedAsync()
    {
        SpinnerService.Show();
        BooksList = await BookService.GetBooks();
        
        if (BooksList == null || !BooksList.Any())
        {
            _message = "No books found.";
        }
        
        SpinnerService.Hide();
    }
}