@page "/edit-book/{Id:int}"
@using LibraryAssignment.BlazorWASM.Interfaces
@using LibraryAssignment.Data.Models
@using AutoMapper
@using LibraryAssignment.Data.DTOs
@inject IBookService BookService
@inject SpinnerService SpinnerService
@inject IMapper Mapper

<h1 class="text-3xl mt-5">edit book.</h1>
@if (_book != null)
{
    <div class="md:w-1/2 mt-5">
        <form @onsubmit="@OnSubmit">
            <label for="id" class="mb-2 text-lg">id.</label>
            <div class="relative">
                <input @bind="@_book.Id" type="number" id="id" class="mb-2 block p-4 pl-10 text-md border rounded-lg bg-customWhite text-gray-500" readonly/>
            </div>
            <label for="title" class="mb-2 text-lg">title.</label>
            <div class="relative">
                <input @bind="@_book.Title" type="text" id="title" class="mb-2 w-full block p-4 pl-10 text-md border rounded-lg bg-customWhite text-customBlue" required/>
            </div>
            <label for="author" class="mb-2 text-lg">author.</label>
            <div class="relative">
                <input @bind="@_book.Author" type="text" id="author" class="mb-2 w-full block p-4 pl-10 text-md border rounded-lg bg-customWhite text-customBlue" required/>
            </div>
            <label for="description" class="mb-2 text-lg">description.</label>
            <div class="relative">
                <textarea @bind="@_book.Description" type="" id="description" rows="5" class="mb-2 w-full block p-4 pl-10 text-md border rounded-lg bg-customWhite text-customBlue" required></textarea>
            </div>
            <div class="flex flex-row items-center mb-5">
                <label for="isavailable" class="text-lg">is available.</label>
                <div class="relative">
                    <input @bind="@_book.IsAvailable" type="checkbox" id="isavailable" class="ml-2 block text-xl bg-customWhite text-customBlue"/>
                </div>
            </div>
            <button type="submit" class="bg-customOrange text-customBlue hover:text-customYellow rounded-lg px-4 py-2">
                Save
            </button>
        </form>

        <button @onclick="DeleteBook" class="bg-customOrange text-customBlue hover:text-customYellow rounded-lg px-4 py-2">
            Delete
        </button>
    </div>
}
else
{
    <h1 class="text-3xl">@_message</h1>
}

@if (_showInfoModal)
{
    <InfoModal Message="@_message"/>
}

@code {

    [CascadingParameter(Name = "ShowInfoModalState")]
    private bool _showInfoModal { get; set; }

    [CascadingParameter(Name = "ToggleInfoModalAction")]
    private Action ToggleInfoModal { get; set; }

    [Parameter]
    public int Id { get; set; }

    private string _message = "Loading...";
    private Book? _book;
    private bool deleteBook = true;

    protected override async Task OnInitializedAsync()
    {
        SpinnerService.Show();
        _book = await BookService.GetBookAsync(Id);

        if (_book == null)
        {
            _message = "No book found.";
        }

        SpinnerService.Hide();
    }

    private async Task OnSubmit()
    {
        if (_book.Description.Length <= 0 || _book.Title.Length <= 0 || _book.Author.Length <= 0)
        {
            return;
        }

        SpinnerService.Show();

        var updateBookDto = Mapper.Map<UpdateBookDto>(_book);

        var response = await BookService.UpdateBookAsync(_book.Id, updateBookDto);

        _message = response.message;

        SpinnerService.Hide();

        _showInfoModal = true; //This is a weird workaround to make bool to work with cascading parameters.
        ToggleInfoModal(); //This is a weird workaround to make bool to work with cascading parameters.
    }

    private async Task DeleteBook()
    {
        if (deleteBook)
        {
            SpinnerService.Show();

            var response = await BookService.DeleteBookAsync(_book.Id);

            _message = response.message;

            SpinnerService.Hide();

            _showInfoModal = true; //This is a weird workaround to make bool to work with cascading parameters.
            ToggleInfoModal(); //This is a weird workaround to make bool to work with cascading parameters.
        }
    }

}